body {
    display:flex;
    flex-direction: column;;
    justify-content: center;
    align-items: center;
    background-color: white;
}

h1 {
    /* -webkit-text-stroke: .5px red; */
    -webkit-text-stroke: .3px rgb(185, 185, 246);
    color: lavender;
    //border: thin dotted red;
    padding: 10px;
    margin-bottom: 0px;
  
}

button {
    font-family: inherit;
    /* -webkit-text-stroke: .3px purple; */
    background-color: white;
    color: rgb(208, 208, 250);
    font-weight:lighter;
    font-size: medium;
    margin-bottom: 21.44px;
    padding:4px 16px;
    border: 2px solid lavender;
}

.container {
    display: flex;
    flex-wrap: wrap;
    width: 195px;
    height: 195px;
    border: 2px solid lavender;
}

.square {
    border: 1px solid white;
    height: 10px;
    width: 10px;
}