body {
    display:flex;
    flex-direction: column;;
    justify-content: center;
    align-items: center;
}

h1 {
    -webkit-text-stroke: .5px red;
    color: lavender;
    
}

button {
    font-family: Arial, Helvetica, sans-serif;
    background-color: lavender;
    color: red;
    font-weight:lighter;
    margin-bottom: 21.44px;
}

.container {
    display: flex;
    flex-wrap: wrap;
    width: 195px;
    height: 195px;
}

.square {
    border: thin solid red;
    height: 10px;
    width: 10px;
}